.sider {
  background-color: #fff;
  border-right: 1px solid #e8e8e8;
  box-sizing: content-box;
}

.sider-menu {
  overflow: hidden;
  position: sticky;
  top: 0px;
}

.sider-menu,
.settings-menu {
  border-right: 0 !important;
}

.sider-menu .header {
  padding: 1em 1em 0.5em;
  position: relative;
}

.sider.ant-layout-sider-collapsed .header {
  text-align: center;
}

.sider-menu .header .top {
  position: relative;
}

.sider-menu .header .top img {
  width: 42.5px;
  height: 42.5px;
  border-radius: 50%;
  object-fit: cover;
}

.sider-menu .header .top .float-right {
  position: absolute;
  top: 0;
  right: 0;
}

.sider.ant-layout-sider-collapsed .header .top .float-right {
  position: relative;
}

.sider-menu .header .top .collapsed,
.sider.ant-layout-sider-collapsed .header .top button,
.sider.ant-layout-sider-collapsed .header .top .uncollapsed {
  display: none;
}

.sider-menu .header .top .collapsed {
  display: none;
}

.sider.ant-layout-sider-collapsed .header .top .collapsed {
  display: block;
  position: relative;
}

.sider-menu .header .bottom h4 {
  margin-top: 1em;
  line-height: 1em;
}

.sider-menu .header .bottom p {
  font-size: 0.8em;
  line-height: 0.25em;
}

.sider.ant-layout-sider-collapsed .header h4,
.sider.ant-layout-sider-collapsed .header p {
  display: none;
}

.sider-menu .ant-menu {
  border-right: none !important;
  max-width: calc(100% - 1px);
}

@media only screen and (max-width: 750px) {
  .sider-menu.ant-layout-sider-collapsed {
    width: 0 !important;
    max-width: 0 !important;
    min-width: 0 !important;
  }
}

.navmenu {
  padding: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

.navmenu ul {
  line-height: 64px;
}

@media only screen and (max-width: 750px) {
  .navmenu .ant-menu-item span {
    display: none;
  }
}

.main-content {
  position: relative;
  padding: 72px 8px 8px;
  min-height: 100vh;
}